/* google font for all the elements */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

/* common styles */
* {
  margin: 0;
  padding: 0;
}
.container {
  width: 89%;
  margin: 0 auto;
}
.btn-style {
  padding: 20px 40px;
  border: none;
  border-radius: 8px;
  background: #e55473;
  color: #fff;
  font-family: Lato;
  font-size: 20px;
  font-weight: 700;
}
/* header related styles */
header {
  background-color: rgba(229, 84, 115, 0.1);
}
/* hero related styles */
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 50px;
}
.hero-img-container img {
  width: 100%;
  max-width: 500px;
  object-fit: contain;
  vertical-align: middle;
}
.hero-description {
  width: 625px;
}
.hero-title {
  color: #272727;
  font-family: Lato;
  font-size: 70px;
  font-weight: 800;
  margin-bottom: 32px;
}
.hero-para {
  color: rgba(39, 39, 39, 0.6);
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
  margin-bottom: 32px;
}
/* feature related styles */
.feature-description {
  margin: 100px auto;
  max-width: 594px;
}
.feature-title {
  color: #272727;
  text-align: center;
  font-family: Lato;
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 24px;
}
.feature-para {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
}
.feature-container {
  display: flex;
  gap: 24px;
  align-items: end;
  justify-content: center;
}
.features {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}
.feature-img-container-pink {
  border-radius: 300px 300px 0 0;
  background: rgba(167, 33, 98, 0.15);
  /* padding: 70px 70px 0 70px; */
  padding-top: 40px;
  display: flex;
  justify-content: center;
  align-items: end;
  width: 300px;
  height: 300px;
}
.feature-img-container-pink img {
  width: 60%;
  vertical-align: middle;
  object-fit: contain;
}
.feature-img-container-pest {
  border-radius: 300px 300px 0 0;
  background: rgba(5, 151, 160, 0.15);
  padding-top: 40px;
  display: flex;
  justify-content: center;
  width: 300px;
  height: 300px;
}
.feature-img-container-pest img {
  width: 70%;
  vertical-align: middle;
  object-fit: contain;
}
.feature-img-container-yellow {
  border-radius: 300px 300px 0 0;
  background: rgba(71, 125, 17, 0.15);
  padding-top: 40px;
  display: flex;
  justify-content: center;
  align-items: end;
  width: 300px;
  height: 300px;
}
.feature-img-container-yellow img {
  width: 60%;
  vertical-align: middle;
  object-fit: contain;
}
.ancor-style {
  color: #272727;
  text-align: center;
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 35px; /* 145.833% */
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: auto;
}
/* delivery related styles */
.delivery {
  border-radius: 8px;
  background: rgba(39, 39, 39, 0.05);
  margin-top: 100px;
  margin-bottom: 100px;
}
.delivery-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  padding: 80px 100px;
}
/* .delivery-details {
  display: flex;
  flex-direction: column;
  gap: 24px;
} */
.delivery-title {
  color: rgba(39, 39, 39, 0.8);
  text-align: center;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 35px; /* 145.833% */
}
.delivery-img-container {
  text-align: center;
}
